@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background-color: #333333;
  margin: 3em;
  display: flex;
  justify-content: center; }
  body .container {
    flex: 1;
    max-width: 1000px;
    display: flex;
    flex-direction: column; }
    body .container .browser {
      background-color: #CCCC00;
      padding: 1em; }
    body .container .header {
      background-color: #CCCC00;
      font-size: 6em;
      font-family: "Source Code Pro";
      font-weight: 200;
      color: #333333;
      letter-spacing: 0.1em;
      padding-bottom: 0.1em; }
    body .container .footer {
      background-color: #333333;
      display: flex;
      flex-direction: column; }
      body .container .footer .link {
        padding: 0.1em;
        font-family: "Source Code Pro";
        color: #CCCC00;
        font-size: 6em;
        font-weight: 200;
        text-decoration: none; }
        body .container .footer .link:hover {
          background-color: rgba(204, 204, 0, 0.2); }
