@import url("https://fonts.googleapis.com/css?family=Oswald:200,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body {
  height: 100%; }

body {
  background-color: #E2E7EB;
  margin: 0 3em;
  display: flex;
  justify-content: center; }
  body .container {
    flex: 1;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .container .header, body .container .footer {
      font-size: 7em;
      font-family: "Oswald";
      font-weight: 700;
      letter-spacing: .08em;
      color: #CC6328; }
    body .container .header {
      margin-bottom: -.3em;
      margin-left: .1em; }
    body .container .footer {
      margin-top: -.39em;
      text-align: right; }
    body .container .top {
      border: 1em solid #EAE552;
      border-radius: 1em;
      height: 2em;
      margin-bottom: -3em; }
      body .container .top.outer {
        border-color: #CC6328; }
      body .container .top.inner {
        border-color: #EAE552; }
    body .container .bottom {
      border: 1em solid #EAE552;
      border-radius: 1em;
      height: 2em;
      margin-top: -3em; }
      body .container .bottom.inner {
        border-color: #EAE552;
        z-index: 7; }
      body .container .bottom.outer {
        border-color: #CC6328;
        z-index: 5; }
    body .container .link-list {
      background-color: #2D92FF;
      padding: 1em;
      border-radius: 1em;
      z-index: 10;
      display: flex;
      flex-direction: column; }
      body .container .link-list .link {
        display: flex;
        flex-direction: row;
        padding: 0.1em;
        font-family: "Oswald";
        color: #FEFEFD;
        font-size: 4em;
        font-weight: 200; }
        body .container .link-list .link .href {
          flex: 1;
          text-align: right; }
          body .container .link-list .link .href a {
            color: #FEFEFD;
            text-decoration: none; }
