// #region Reset

// Resets margins and padding:
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

// #endregion Reset

// #region Fonts

@import url('https://fonts.googleapis.com/css?family=Oswald');

$PrimaryFont:       'Oswald';
$LargeFontSize:     50px;

// #endregion Fonts

// #region Colors

$PageColor:         white;
$PrimaryColor:      black;
$SecondaryColor:    grey;

// #endregion Colors

.container {
  background-color: $PageColor;

  display:          flex;
  flex-direction:   column;
  height:           100%;
  max-height:       100%;

  .header {
    text-align:       center;

    padding:          10px;

    font-family:      $PrimaryFont;
    font-size:        $LargeFontSize;
    font-weight:      500;
    letter-spacing:   -1px;

    .deemphasized {
      color:            grey;
    }
  }

  .gallery {
    flex:             1;
    

    //padding:          30px;
    
    display:          flex;
    flex-direction:   row;

    .margin {
      flex:             1;
    }

    .control {
      padding:          20px;

      font-family:      $PrimaryFont;
      font-size:        $LargeFontSize;
      cursor:           pointer;

      display:          flex;
      align-items:      center;

      &:hover {
        color:            $SecondaryColor;
      }
    }

    .photographs {
      flex:             0;
      display:          flex;

      .slide {
        border-top:       2px solid $PrimaryColor;
        border-bottom:    2px solid $PrimaryColor;
        padding: 40px;

        flex:             1;
        text-align:       center;
        display:          none;

        img {
          height:           100%;
        }
      }
    }
  }

  .links {
    display:          flex;
    flex-direction:   row;
    justify-content:  center;

    padding:          10px;

    .link {
      padding:          8px;

      img {
        height:           40px;
      }
    }
  }

}