// #region Reset

// Resets margins and padding:
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

// #endregion Reset

// #region Fonts

@import url('https://fonts.googleapis.com/css?family=Oswald:200,700');

$PrimaryFont:       'Oswald';

$HeaderFontSize:    7em;
$HeaderFontWeight:  700;

$LargeFontSize:     5em;
$LargeFontWeight:   200;

// #endregion Fonts

// #region Colors

$PageColor:               #E2E7EB;
$PrimaryColor:            #2D92FF;
$SecondaryColor:          #FEFEFD;
$HightlighColor:          #EAE552;
$SecondaryHighlightColor: #CC6328;

// #endregion Colors

body {
  background-color:   $PageColor;

  height:             100%;
  margin:             0 3em;
  display:            flex;
  justify-content:    center;
  
  .container {
    flex:             1;
    
    max-width:        1000px;
    
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
    
    .header, .footer {
      font-size:      $HeaderFontSize;
      font-family:    $PrimaryFont;
      font-weight:    $HeaderFontWeight;
      letter-spacing: .08em;
      color:          $SecondaryHighlightColor;
    }

    .header {
      margin-bottom:  -.3em;
      margin-left:    .1em;
    }

    .footer {
      margin-top:     -.39em;
      text-align:     right;
    }

    .top {
      border:           1em solid $HightlighColor;
      border-radius:    1em;
      height:           2em;
      margin-bottom:    -3em;

      &.outer {
        border-color:  $SecondaryHighlightColor;
      }

      &.inner {
        border-color: $HightlighColor;
      }
    }

    .bottom {
      border:           1em solid $HightlighColor;
      border-radius:    1em;
      height:           2em;
      margin-top:      -3em;

      &.inner {
        border-color:  $HightlighColor;
        z-index:       7;
      }

      &.outer {
        border-color: $SecondaryHighlightColor;
        z-index:      5;
      }
    }

    .link-list {
      background-color: $PrimaryColor;
      padding:          1em;
      border-radius:    1em;
      z-index:          10;

      display:          flex;
      flex-direction:   column;

      .link {
        display:      flex;
        flex-direction: row;

        padding:      0.1em;

        font-family:  $PrimaryFont;
        color:        $SecondaryColor;
        font-size:    4em;
        font-weight:  $LargeFontWeight;

        .href {
          flex:             1;
          text-align:       right;
          a {
            color:            $SecondaryColor;
            text-decoration:  none;
          }
        }
      }
    }

  }

}